@font-face {
    font-family: 'Amatic SC';
    src: url('fonts/AmaticSC-Regular.ttf') format('truetype');
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    font-family: 'Amatic SC', sans-serif;
}

canvas {
    background-color: black;
    pointer-events: none;
    display: block;
}

.backgroundContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('img/5_background/homebackground.jpg');
    background-size: cover;
    background-position: bottom;
    width: 100%;
    height: 100vh;
}

.backgroundContainer h1 {
    font-size: 100px;
    margin: 0;
}

.fullscreenContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.fullscreenIcon {
    width: 50px;
    height: 50px;
    bottom: 40px;
    right: 0;
    position: absolute;
    cursor: pointer;
}

.muteIcon {
    width: 50px;
    height: 50px;
    bottom: 40px;
    left: 0;
    position: absolute;
    padding: 2px;
    padding-left: 4px;
    cursor: pointer;
}

.dNone {
    display: none !important;
}

#homescreen {
    height: 480px;
    width: 720px;
}

#endscreen {
    height: 480px;
    width: 720px;
    position: absolute;
    bottom: 0;
}

.start {
    background-color: RGB(142, 45, 3);
    border: 0 solid #E5E7EB;
    box-sizing: border-box;
    color: #000000;
    display: flex;
    font-family: 'Amatic SC', sans-serif;
    font-size: 99px;
    font-weight: bold;
    justify-content: center;
    padding: .75rem 1.65rem;
    position: relative;
    text-align: center;
    text-decoration: none #000000 solid;
    text-decoration-thickness: auto;
    width: 100%;
    max-width: 460px;
    position: relative;
    cursor: pointer;
    transform: rotate(-2deg);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    margin-bottom: 24px;
}

.start:focus {
    outline: 0;
}

.start:after {
    content: '';
    position: absolute;
    border: 1px solid #000000;
    bottom: 4px;
    left: 4px;
    width: calc(100% - 1px);
    height: calc(100% - 1px);
}

.start:hover:after {
    bottom: 2px;
    left: 2px;
}

.legend {
    padding: 50px;
    ;
}

.legend img {
    width: 50px;
    padding-right: 8px;
}

.legend span {
    font-size: 50px;
}

.legend div {
    display: flex;
    align-items: center;
}

.textOverlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 3em;
    background: linear-gradient(to bottom, rgb(255, 162, 0), rgb(255, 221, 3));
    padding: 10px;
    border-radius: 5px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    opacity: 0;
    animation: flyInOut 5s ease-in-out infinite;
}

#btnLeft {
    display: none;
}

#btnD {
    display: none;
}

#btnUp {
    display: none;
}

#btnRight {
    display: none;
}

#privacyPolicy {
    text-decoration: none;
    color: black;
}

#impressum {
    text-decoration: none;
    color: black;
}

#privacyPolicy:hover {
    text-decoration: underline;
}

#impressum:hover {
    text-decoration: underline;
}

.winningScreen {
    background-image: url('img/5_background/homebackground.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 80%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

.winningScreen h1 {
    font-size: 200px;
}

.muteIconInGame {
    bottom: 0 !important;
    width: 50px;
    height: 50px;
    left: 0;
    position: absolute;
    padding: 2px;
    padding-left: 4px;
    cursor: pointer;
}

.fullscreenIconInGame {
    bottom: 0 !important;
    width: 50px;
    height: 50px;
    right: 0;
    position: absolute;
    cursor: pointer;
}

@keyframes flyInOut {
    0% {
        top: -100%;
        opacity: 0;
    }

    10% {
        top: 50%;
        opacity: 1;
    }

    90% {
        top: 50%;
        opacity: 1;
    }

    100% {
        top: 100%;
        opacity: 0;
    }
}

@media only screen and (max-width: 1205px) {
    .winningScreen {
        width: 100%;
        height: 100vh;
    }

    .winningScreen h1 {
        font-size: 20vh;
    }

    canvas {
        width: 100% !important;
        height: 100vh !important;
        overflow: hidden;
    }

    .backgroundContainer {
        width: 100%;
        height: 100vh;
        overflow: hidden;
    }

    #homescreen {
        width: 100% !important;
        height: 100vh !important;
    }

    #endscreen {
        width: 100% !important;
        height: 100vh !important;
    }

    .start {
        width: 16.67vw;
        height: 11.11vw;
        position: absolute;
        top: 1.39vw;
        font-size: 5.56vw;
        z-index: 10;
    }

    .legend {
        display: none;
    }

    .textOverlay {
        display: none;
    }

    .orientationMessage {
        display: none;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: rgba(0, 0, 0, 0.8);
        color: white;
        padding: 20px;
        border-radius: 10px;
        font-size: 24px;
        text-align: center;
        z-index: 1000;
    }

    #btnLeft,
    #btnRight,
    #btnUp,
    #btnD {
        position: absolute;
        width: 60px;
        height: 60px;
        background-color: rgba(0, 0, 0, 0.5);
        color: white;
        border: none;
        border-radius: 50%;
        font-size: 24px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }

    #btnLeft {
        bottom: 20px;
        left: 20px;
        background-image: url('img/touch/icons8-links-100.png');
        background-size: contain;
    }

    #btnD {
        bottom: 20px;
        right: 20px;
        background-image: url('img/6_salsa_bottle/salsa_bottle.png');
        background-size: contain;
    }

    #btnUp {
        bottom: 100px;
        right: 20px;
        background-image: url('img/touch/icons8-oben-100.png');
        background-size: contain;
    }

    #btnRight {
        bottom: 20px;
        left: 100px;
        background-image: url('img/touch/icons8-rechts-100.png');
        background-size: contain;
    }


    .fullscreenIcon {
        display: none;
    }

    .muteIcon {
        width: 25px;
        height: 25px;
        position: absolute;
        top: 5px;
        left: 5px;
        padding: 2px;
        cursor: pointer;
    }

    .muteIconInGame {
        width: 25px;
        height: 25px;
        position: absolute;
        top: 5px;
        left: 5px;
        padding: 2px;
        cursor: pointer;
    }


    #privacyPolicy {
        position: absolute;
        bottom: 20px;
        left: 50%;
        transform: translateX(-50%);
        padding: 2px;
        cursor: pointer;
    }

    #impressum {
        position: absolute;
        bottom: 0px;
        left: 50%;
        transform: translateX(-50%);
        padding: 2px;
        cursor: pointer;
    }
}

@media only screen and (max-height: 740px) {
    canvas {
        height: 100vh !important;
        width: 100% !important;
    }

    .backgroundContainer {
        width: 100%;
        height: 100%;
        overflow: hidden;
    }

    #homescreen {
        width: 100% !important;
        height: 100vh !important;
    }

    #endscreen {
        width: 100% !important;
        height: 100vh !important;
    }

    .start {
        width: 16.67vw;
        height: 11.11vw;
        position: absolute;
        top: 1.39vw;
        font-size: 5.56vw;
        z-index: 10;
    }

    .legend {
        display: none;
    }

    .textOverlay {
        display: none;
    }

    .orientationMessage {
        display: none;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: rgba(0, 0, 0, 0.8);
        color: white;
        padding: 20px;
        border-radius: 10px;
        font-size: 24px;
        text-align: center;
        z-index: 1000;
    }

    #btnLeft,
    #btnRight,
    #btnUp,
    #btnD {
        position: absolute;
        width: 60px;
        height: 60px;
        background-color: rgba(0, 0, 0, 0.5);
        color: white;
        border: none;
        border-radius: 50%;
        font-size: 24px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }

    #btnLeft {
        bottom: 20px;
        left: 20px;
        background-image: url('img/touch/icons8-links-100.png');
        background-size: contain;
    }

    #btnD {
        bottom: 20px;
        right: 20px;
        background-image: url('img/6_salsa_bottle/salsa_bottle.png');
        background-size: contain;
    }

    #btnUp {
        bottom: 100px;
        right: 20px;
        background-image: url('img/touch/icons8-oben-100.png');
        background-size: contain;
    }

    #btnRight {
        bottom: 20px;
        left: 100px;
        background-image: url('img/touch/icons8-rechts-100.png');
        background-size: contain;
    }

    .muteIcon {
        width: 25px;
        height: 25px;
        position: absolute;
        top: 5px;
        left: 5px;
        padding: 2px;
        cursor: pointer;
    }

    .muteIconInGame {
        width: 25px;
        height: 25px;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: 5px;
        padding: 2px;
        cursor: pointer;
    }

    .fullscreenIconInGame {
        display: none;
    }

    #privacyPolicy {
        position: absolute;
        bottom: 20px;
        left: 50%;
        transform: translateX(-50%);
        padding: 2px;
        cursor: pointer;
    }

    #impressum {
        position: absolute;
        bottom: 0px;
        left: 50%;
        transform: translateX(-50%);
        padding: 2px;
        cursor: pointer;
    }

    .fullscreenIcon {
        display: none;
    }

    .start {
        width: 16.67vh;
        height: 11.11vh;
        position: absolute;
        top: 1.39vh;
        font-size: 5.56vh;
        z-index: 10;
        margin-top: 8px;
    }
}

@media only screen and (max-height: 350px) {

    #btnLeft,
    #btnRight,
    #btnUp,
    #btnD {
        width: 35px;
        height: 35px;
    }

    #btnLeft {
        bottom: 20px;
        left: 20px;
        background-image: url('img/touch/icons8-links-100.png');
        background-size: contain;
    }

    #btnD {
        bottom: 20px;
        right: 20px;
        background-image: url('img/6_salsa_bottle/salsa_bottle.png');
        background-size: contain;
    }

    #btnUp {
        bottom: 65px;
        right: 20px;
        background-image: url('img/touch/icons8-oben-100.png');
        background-size: contain;
    }

    #btnRight {
        bottom: 20px;
        left: 65px;
        background-image: url('img/touch/icons8-rechts-100.png');
        background-size: contain;
    }

        .start {
        width: 16.67vh;
        height: 15.1vh;
        position: absolute;
        top: 1.39vh;
        font-size: 5.56vh;
        z-index: 10;
        margin-top: 8px;
        padding-top: 6px;
    }

}